input::-moz-placeholder, textarea::-moz-placeholder {
    color: inherit;
    opacity: 1;
    text-overflow: ellipsis;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
    text-overflow: ellipsis;
}
input::-o-placeholder, textarea::-o-placeholder {
    color: inherit;
    opacity: 1;
    text-overflow: ellipsis;
}
input::-ms-placeholder, textarea::-ms-placeholder {
    color: inherit;
    opacity: 1;
    text-overflow: ellipsis;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select, .pxl-select-higthlight, .nice-select {
    background-color: #000;
    border: none;
    color: $third_color;
    padding: 6px 25px;
    line-height: 1.73;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    @include transition(all .25s cubic-bezier(.645,.045,.355,1));
    @include box-shadow(none);
    @include border-radius(30px);
    width: 100%;
    outline: none;
    font-family: inherit;
    &:focus {
        outline: 0;
        border-color: $primary_color;
        color: $primary_color;
    }
}
.input-filled br {
    display: none;
}
.nice-select {
    @include border-radius(0);
}
input[type="range"] {
    padding: 0;
    background-color: transparent;
    height: auto;
    border: none;
}
select {
    height: 60px;
}
textarea {
    resize: none;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 153px;
    margin: 0;
    @include border-radius(20px);
}
.pxl-contact-form {
    textarea {
        margin-top: 15px;
    }
}
// Comment Form
//--------------------------------------------------
.comments-area {
    margin-top: 62px;
    .comment-respond {
        .logged-in-as {
            margin-top: 25px;
            margin-bottom: 0px;
            font-size: 15px;
            color: $secondary_color;
            a {
                color: inherit;
                &:hover {
                    color: $primary_color;
                }
                &:nth-child(2) {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    }
    .no-comments {
        display: none;
    }
}
.comment-list {
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
    li {
        padding-top: 26px;
        .children {
            margin-bottom: 0;
            li {
                list-style: none;
                padding-left: 50px;
                @media (max-width: 575px) {
                    padding-left: 20px;
                }
            }
        }
    }
    > li {
        &:first-child {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        > .children > li > .children > li > .children > li > .children {
            padding-left: 0;
            .children {
                padding-left: 0;
            }
        }
    }
    #respond {
        margin-top: 20px;
        margin-bottom: 40px;
        .comment-reply-title {
            font-size: 24px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @media (max-width: 575px) {
                font-size: 18px !important;
            }
        }
    }
}

.comment-image {
    img {
        width: 98px;
        min-width: 98px;
        overflow: hidden;
        border-radius: 1000px;    
    }
    @media #{$max-xs} {
        margin-bottom: 12px;
    }
}

.comment-title {
    color:  $secondary_color;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px; 
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 0;
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
}
.search.search-no-results {
    .search-form {
        .search-submit {
            display: flex;
            align-items: center;
            svg {
                width: 20px;
            }
        }
    }
}
.comment-date {
    text-transform: uppercase;
    color:$primary_color;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    @media (max-width: 575px) {
        font-size: 14px;
    }
}

.comment-text {
    margin-top: 14px;
    margin-bottom: 15px;
    color: $six_color;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    p:last-child {
        margin-bottom: 0;
    }
    ol, ul {
        margin-bottom: 32px;
        ul, ol {
            margin-bottom: 0;
        }
    }
    ul li {
        list-style: outside;
    }
    img {
        margin: 6px 0;
    }
}
.comment-inner {
    position:relative;
    display: flex;
    column-gap: 32px;
    @media (max-width: 575px) {
        display: block;
    }
}
.comment-body {
    margin-bottom: 42px;
}
.comment-reply {
    a {
        color: $secondary_color;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 24px;
        &:hover {
            color: $primary_color;
        }
    }
}
.comment-holder {
    margin-bottom: 8px;
    @media #{$max-xs} {
        display: block;
    }
}

.comment-meta {
    flex-grow: 1;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.notice-f {
    margin-top: 28px !important;
    font-size: 14px;
    font-weight: 400;
    color: $secondary_color;
    line-height: 24px; 
}
.comment-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position:relative;
    > .row {
        order: 1;
    }
    .comment-form-comment {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        order: 2;
        margin-top: 20px;
    }
    .comment-form-cookies-consent {
        order: 3;
    }
    .form-submit {
        order: 4;
        margin-top: 40px;
        margin-bottom: 0;
    }
}
.single-post .comment-form {
    > div ,.comment-form-comment{
        position:relative;
        
    }
    button {
        svg {
            position:absolute;
            top: 21px;
            left: 19px;
        }
    }
    label {
        color: $secondary_color;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        display: block;
        margin-bottom: 7px;
        margin-top: 22px;   
    }
    input[type="text"], textarea {
        color: #6A6A6A;
        font-size: 14px;
        font-weight: 400;
        border-radius: 0px;
        padding-left: 20px;
        background: transparent;
        border-bottom: 1px solid #29292A;
        &:focus,&:focus-visible,&:active {
            border-color: $primary_color !important;
            color: $secondary_color;
        }
    }
    input {
        height: 50px;
    }
    textarea {
        height: 252px;
        resize: none;
        background-color: $four_color;
        padding-top: 13px;
    }
    .row {
        margin: 0 -11px;
        > div {
            margin-top: 16px;
            padding: 0 10px;
        }
    }
}

.comment-form-cookies-consent {
    display: none;
    margin:0 10px;
    width: 100%;
    font-size: 16px;
    line-height: 1.73;
    padding-left: 32px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #222;
    input, label:before, label:after {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 3px;
        cursor: pointer;
    }
    label {
        cursor: pointer;
        &:before {
            content: '';
            z-index: 1;
            background-color: rgba(0,0,0,0.05);
            border-radius: 3px;
        }
    }
    label:after {
        content: '\f112';
        font-family: "Caseicon";
        font-weight: 400;
        z-index: 2;
        font-size: 10px;
        color: #000;
        opacity: 0;
        line-height: 12px;
        text-align: center;
        top: 8px;
    }
    input {
        z-index: 99;
        opacity: 0;
        &:checked + label:after {
            opacity: 1;
        }
    }
}

// #respond {
//     padding-top: 70px;
// }

/* Select Style */
.pxl-select {
    width: 100%;
    position: relative;
    .pxl-select-hidden {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
    .pxl-select-options {
        max-height: 282px;
        overflow-y: scroll;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        list-style: none;
        margin: 10px 0 0;
        padding: 12px 18px;
        background-color: #29292A;
        z-index: 900;
        font-size: 14px;
        color: #fff;
        font-family: inherit;
        box-shadow: 0 3px 65px rgba(1,1,1,0.08);
        @include border-radius(0px);
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        opacity: 0;
        margin-top: 30px;
        visibility: hidden;
        border-radius: 0 ;
        overflow: auto;         
        scrollbar-width: none;   
        -ms-overflow-style: none;
        ::-webkit-scrollbar {
            display: none;          
        }
        li {
            padding: 9px 10px;
            cursor: pointer;
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            line-height: normal !important;
            border-radius: 5px;
            &:first-child {
                display: none;
            }
            &:hover {
                color: #fff;
                background-color: $primary_color;            }
            }
        }
        .pxl-select-higthlight {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            &:before {
                content: "\f150";
                width: 28px;
                height: 28px;
                border-radius: 28px;
                color: $primary_color;
                line-height: 28px;
                text-align: center;
                font-size: 12px;
                font-family: Caseicon;
                position: absolute;
                top: 50%;
                right: 15px;
                @include transform(translate(0, -50%));
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            }
            &.active {
                border-bottom-left-radius: 0px !important;
                border-bottom-right-radius: 0px !important;
                + .pxl-select-options {
                    opacity: 1;
                    margin-top: 0px;
                    visibility: visible;
                }
                &:before {
                    transform: translate(0, -50%) scaleY(-1);
                }
            }
        }
    }

    .pxl-form-date .wpcf7-form-control-wrap, .pxl-form-date .pxl-item-group {
        &:after {
            content: "\f150";
            width: 28px;
            height: 28px;
            border-radius: 28px;
            color: #2D2D2D;
            line-height: 28px;
            text-align: center;
            font-size: 12px;
            font-family: Caseicon;
            position: absolute;
            top: 50%;
            right: 10px;
            @include transform(translate(0, -50%));
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        }
    }

    .nice-select {
        position: relative;
        padding-right: 44px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border-radius: 10px;
        &:before {
            content: "\f150";
            font-family: Caseicon;
            width: 28px;
            height: 28px;
            border-radius: 28px;
            color: $primary_color;
            line-height: 28px;
            text-align: center;
            font-size: 12px;
            position: absolute;
            top: 50%;
            right: 10px;
            @include transform(translate(0, -50%));
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        }
        ul.list {
            position: absolute;
            top: 120%;
            left: 0;
            right: 0;
            list-style: none;
            margin: 30px 0 0;
            padding: 12px 15px;
            background-color: #000;
            z-index: 101;
            font-size: 15px;
            color: $secondary_color;    
            font-family: inherit;
            box-shadow: 0 3px 65px rgba(0,0,0,0.08);
            @include border-radius(10px);
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            opacity: 0;
            visibility: hidden;
            max-width: 350px;
            max-height: 246px;
            overflow-y: auto;
            li {
                padding: 9px 8px;
                cursor: pointer;
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
                line-height: normal !important;
                &:hover {
                    color: $primary_color;
                }
            }
        }
        &.open {
            &:before {
                transform: translate(0, -50%) scaleY(-1);
            }
            ul.list {
                opacity: 1;
                margin-top: 0;
                visibility: visible;
            }
        }
    }

    .comment-reply-title small {
        a {
            font-size: 13px;
            font-weight: 700;
            color: #fff;
            line-height: 36px;
            padding: 0 10px;
            background-color: $secondary_color;
            display: inline-flex;
            margin: 0 12px;
            border-radius: 50px;
            color: #000;
            &:hover {
                background-color: $primary_color;
            }
        }
    }

    .post-password-form {
        input[type="password"] {
            margin-top: 6px;
        }
        input[type="submit"] {
            margin-top: 10px;
        }
    }

    /* Select 2 */
    .select2 {
        .select2-selection--single {
            border: 1px solid #2d2d2d;
            height: 51px;
            .select2-selection__rendered {
                padding-left: 15px;
                line-height: 51px;
            }
            .select2-selection__arrow {
                right: 8px;
                top: 50%;
                @include transform(translate(0px, -50%));
            }
        }
    }

    .select2-results,.select2-search {
        background-color: #fff;
    }
    form .select2-container--default {
        width: 100% !important;
        .select2-selection {
            height: 60px;
            background-color: #e7e7e7;
            @include border-radius(30px);
            border: none;
            .select2-selection__rendered {
                padding-left:0px !important;
                line-height: 50px !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }
            .select2-selection__arrow {
                right: 20px;
                top: 50%;
                color: #646464;
            }
            .select2-selection__clear {
                height: 20px;
                line-height: 20px;
                position: absolute;
                right: 30px;
                text-align: center;
                top: 50%;
                @include transform(translate(0px, -50%));
                width: 20px;
                color: #5d5d60;
            }
            .select2-selection__placeholder {
                color: inherit;
            }
        }
    }
    .select2-container.select2-container--open {
        .select2-dropdown {
            border-color: #e7e8e9;
            background-color: $body-bg_color;
            .select2-search__field {
                border: 1px solid #e7e8e9;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .select2-results {
            .select2-results__option {
                font-size: 15px;
            }
            li.select2-results__option--highlighted {
                background-color: $primary_color;
            }
        }
    }

    /* Date Time */
    body .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
        color: $primary_color !important;
    }
    body .xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover,
    body .xdsoft_datetimepicker .xdsoft_calendar td:hover,
    body .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover {
        background: $secondary_color !important;
        @include box-shadow(none !important);
        color: #fff !important;
    }
    body .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today,
    body .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
    body .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
    body .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current.xdsoft_disabled:hover,
    body .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current.xdsoft_disabled:hover
    body .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current
    body .xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current,
    body .xdsoft_timepicker .xdsoft_time_variant .xdsoft_current {
        background-color: $primary_color !important;
        @include box-shadow(none !important);
        color: #fff !important;
    }
    body {
        .xdsoft_datetimepicker {
            font-family: inherit;
            border: none;
            @include box-shadow(0 5px 20px -5px rgba(0,0,0,0.12));
            .xdsoft_calendar {
                th {
                    background-color: #f3f3f3;
                    color: #444;
                }
                td {
                    border-color: #ebebeb;
                    height: 30px;
                    background-color: #f7f7f7;
                    @media #{$min-xl} {
                        height: 36px;
                    }
                    > div {
                        padding: 0;
                        text-align: center;
                    }
                }
            }
            .xdsoft_datepicker {
                width: 230px;
                @media #{$min-xl} {
                    width: 305px;
                }
            }
            .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current {
                background-color: $primary_color;
                @include box-shadow(none);
            }
        }
    }

    .search-no-results {
        #pxl-main {
            min-height: calc(100vh - 308px);
        }
        .pxl-content-wrap.no-sidebar .no-results.not-found {
            max-width: 780px;
            margin: auto;
        }
        .pxl-content-area .search-form .searchform-wrap {
            position: relative;
            .search-submit {
                padding: 0;
                background-color: transparent;
                width: 60px;
                height: 60px;
                position: absolute;
                top: 0;
                right: 0;
                &:hover {
                    color: $primary_color;
                }
            }
        }
    }

    .pxl-file-upload-wrapper {
        position: relative;
        display: inline-flex;
        flex-direction: row-reverse;
        padding-bottom: 10px;
        @media #{$max-sm} {
            display: block;
        }
        .pxl-file-upload-button {
            white-space: nowrap;
            line-height: 52px;
            font-size: 16px;
            color: #fff;
            text-transform: capitalize;
            background: #16232B;
            padding: 0 38px;
            @media #{$max-sm} {
                padding-left: 24px;
                padding-right: 24px;
            }
            &:hover {
                background: #222;
            }
        }
        .pxl-file-upload-input {
            width: auto;
            font-size: 16px;
            color: #0A1320;
            background: none;
            font-weight: 500;
            padding: 0 22px;
            height: 52px;
            @media #{$max-sm} {
                padding: 0;
            }
        }
    }

    .btn-w-full{
        button {
            width: 100%;
        }
    }
    .comment-form {
        .form-submit {
            padding-left: 10px;
            button {
                background-color: #131314;
                line-height: 50px;
                padding: 0 26px 0 68px !important;
                color:  $secondary_color;
                border: 1px solid #424243;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0;
                text-transform: capitalize;
                &:before {
                    z-index: -1;
                    position: absolute;
                    content: "";
                    top: 5px;
                    left: 5px;
                    width: 42px;
                    height: 42px;
                    background-color: var(--primary-color);
                    border-radius: 7px;
                    transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                }
                &:hover,&:focus,&:active {
                    &:before {
                        width: calc(100% - 12px);
                    }
                    
                }
            }
        }
    }

    .logged-in {
        .comment-form {
            .form-submit {
                padding-left: 0px;
            }
        }
        .comment-form-comment {
            svg {
                left: 20px !important;
            }
        }  
    }
///////// CTF7

.wrap-ctf1 {
    label {
        color: #FFF;
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    input, textarea ,.pxl-select-higthlight {
        border-bottom: 1px solid #29292A;
        background-color: transparent;
        padding:0 20px;
        color:  #6A6A6A;
        border-radius: 0;
        font-size: 14px;
        font-weight: 400;
        &:focus,&:active,&:hover,&:focus-visible {
            color: #fff;
            border-color: $primary_color;
        }
    }
    .message label{
        margin-bottom: 17px;
    }
    .pxl-select-higthlight {
        color: #fff;
    }
    .submit-form {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        a.btn {
            column-gap: 29px;
            padding-left: 14px;
            border-radius: 10px;
            background-color: #131314;
            @media (max-width: 575px) {
                padding-right: 15px;
            }
            &:before {
                background-color: #fff;
            }
            &:hover {
                color: #000;
        }
        }
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(26%) sepia(90%) saturate(5000%) hue-rotate(0deg);
        cursor: pointer;
      }
    button  {
        display: flex;
        column-gap: 35px;
        align-items: center;
        border: 1px solid #424243;
        border-radius: 6px;
        line-height: 52px;
        position:relative;
        background-color: #131314;
        padding: 0 25px 0 19px;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        @media (max-width: 575px) {
            padding-right: 15px;
        }
        &:before {
            position: absolute;
            content:'';
            top:6px;
            left:6px;
            bottom: 6px;
            @include transition(all .35s cubic-bezier(.645,.045,.355,1));
            background-color: $primary_color;
            height: calc(100% - 12px);
            width: 42px;
            border-radius: 6px;
            z-index: -1;
        }
        
        .icon {
            position:relative;
            z-index: 2;
            margin-top: -2px;
        }
        &:hover {
            background-color: #131314;
            &:before {
                width: calc(100% - 12px);
            }
        }
    }
}
.wrap-ctf2 {
    label {
        color: #FFF;
        font-size: 20px;
        margin-bottom: 3px;
        font-weight: 500;
    }
    input, textarea ,.pxl-select-higthlight {
        border-bottom: 1px solid #29292A;
        background-color: transparent;
        padding:0 20px;
        color:  #6A6A6A;
        border-radius: 0;
        font-size: 14px;
        font-weight: 400;
        &:focus,&:active,&:hover,&:focus-visible {
            color: #fff;
            border-color: $primary_color;
        }
    }
    .message label{
        margin-bottom: 17px;
    }
    .pxl-select-higthlight {
        color: #fff;
        &:before {
            right: -5px;
        }
    }
    .submit-form {
        display: flex;
    }
    button  {
        display: flex;
        column-gap: 35px;
        align-items: center;
        border: 1px solid #424243;
        border-radius: 6px;
        line-height: 52px;
        position:relative;
        background-color: #131314;
        padding: 0 25px 0 19px;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        &:before {
            position: absolute;
            content:'';
            top:6px;
            left:6px;
            bottom: 6px;
            @include transition(all .35s cubic-bezier(.645,.045,.355,1));
            background-color: $primary_color;
            height: calc(100% - 12px);
            width: 42px;
            border-radius: 6px;
            z-index: -1;
        }
        
        .icon {
            position:relative;
            z-index: 2;
            margin-top: -2px;
        }
        &:hover {
            background-color: #131314;
            &:before {
                width: calc(100% - 12px);
            }
        }
    }
}
.wrap-ctf4 {
    .your-name ,.wpcf7-form-control-wrap{
        margin-bottom: 0;
    }
    input {
        height: 66px;
        background-color: #111112;
        border-radius: 10px;
        border: none;
    }
    button {
        position: absolute !important;
        right: 6px;
        top: 6px;
        text-transform: capitalize;
        svg {
            margin-right: 32px;
        }
    }
}