.pxl-nav-menu {

	/* First Level */
	.pxl-menu-primary>li {

		&:hover,
		&.current-menu-parent {
			>a {
				color: $primary_color;

				&:before {
					left: 0;
					right: auto;
					width: 100%;
				}
			}
		}

		>a {
			position: relative;
			font-weight: 400;
			font-size: 14px;
		}

		&.menu-item-has-children>a {
			.bi-plus {
				display: inline-flex !important;
				font-size: 20px;
				line-height: 1;
				margin-left: -1px;
				@include transition(transform .25s cubic-bezier(.645, .045, .355, 1));

				&:before {
					@include transition(all .25s cubic-bezier(.645, .045, .355, 1));
				}

			}
		}

		&:hover,
		.pxl-onepage-active {
			color: $primary_color;

			a .bi-plus {}
		}
	}

	/* Style Level First */
	.pxl-menu-item-text {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	/* Sub Menu */
	.sub-menu li.menu-item-has-children>a:after {
		content: "\f14d";
		position: absolute;
		top: 50%;
		right: 24px;
		@include transform(translate(0, -50%));
		font-size: 10px;
		font-family: "Caseicon";
		font-weight: 400;
	}

	@media #{$min-xl} {
		&.sub-style-default {
			.sub-menu>li {
				.pxl-menu-item-text {
					@include transition(all 300ms ease-out 0ms);

					&:before {
						content: '';
						position: absolute;
						top: calc(50% - 1px);
						//@include transform(translateY(-50%) scale(0));
						height: 1px;
						width: 0px;
						background-color: $primary_color;
						@include transition(all 300ms ease-out 0ms);
						left: 0px;
					}
				}

				&:hover>a,
				&.current_page_item>a,
				&.current-menu-item>a,
				&.current_page_ancestor>a,
				&.current-menu-ancestor>a {
					.pxl-menu-item-text {
						padding-left: 50px;
						color: $primary_color;

						&:before {
							width: 30px;
						}
					}
				}
			}
		}
	}

	&.show-effect-fade {
		.pxl-menu-primary .sub-menu {
			margin-top: 0;
		}
	}

	&.show-effect-dropdown {
		.pxl-menu-primary {
			.sub-menu {
				@include transform(scaleY(0));
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				-o-transform-origin: 0 0 0;
				margin-top: 0;
			}

			li:hover>.sub-menu,
			li.focus>.sub-menu {
				@include transform(scaleY(1));
			}
		}
	}

	&.show-effect-slidedown {
		.pxl-menu-primary {
			.sub-menu {
				margin-top: 0;
				transform: perspective(500px) rotateX(-20deg);
				transform-origin: 50% 0%;
			}

			li:hover>.sub-menu,
			li.focus>.sub-menu {
				transform: perspective(500px) rotateX(0deg);
			}
		}
	}

	&.fr-style-scroll {
		margin: 0 -100px;
		@include transition(all .4s cubic-bezier(.645, .045, .355, 1));
		filter: blur(5px);
		opacity: 0;
		pointer-events: none;

		&.active {
			pointer-events: auto;
			margin: 0;
			opacity: 1;
			filter: blur(0px);
		}
	}

	&.pxl-nav-vertical {
		.pxl-arrow-toggle {
			position: absolute;
			right: -40px;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 16px;
			width: 40px;
			height: 40px;
			display: inline-flex;
			@include transition(all 300ms linear 0ms);
			align-items: center;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			color: $primary_color;

			i {
				@include transition(all 300ms linear 0ms);
			}
		}

		.pxl-menu-primary {
			a:hover .pxl-arrow-toggle i {
				transform: rotate(45deg);
			}

			>li {
				display: block;
				margin: 0 0 18px;

				>a {
					line-height: normal;

					.bi-plus {
						display: none !important;
					}
				}

				.sub-menu {
					position: static;
					opacity: 1;
					visibility: visible;
					box-shadow: none;
					padding: 0;
					text-align: inherit;
					background-color: transparent;
					margin: 0;
					padding-top: 18px;
					display: none;
					transition: none;

					>li {
						padding: 0 0 0 12px;

						>a {
							padding: 0;
							display: inline-block;
							color: #444;
							border: none;

							&:hover {
								color: $primary_color;
							}
						}

						+li {
							margin-top: 8px;
						}

						&:hover>a,
						&.current_page_item>a,
						&.current-menu-item>a,
						&.current_page_ancestor>a,
						&.current-menu-ancestor>a {
							color: $primary_color;
						}
					}
				}
			}

			.sub-menu li.menu-item-has-children {
				>a::after {
					display: none;
				}

				.pxl-arrow-toggle {
					color: inherit;
				}
			}
		}
	}

	&.pxl-mega-boxed {
		.pxl-megamenu>.sub-menu {
			padding: 20px 15px 15px 15px;
			max-width: 1170px;
		}
	}

	// Style 
	&.fr-style-box {
		.pxl-divider-move {
			height: 34px;
			border-radius: 391px;
			background-color: $primary_color;
			position: absolute;
			top: 50%;
			@include transform(translate(0, -50%));
			@include transition(all 300ms linear 0ms);
			opacity: 0;

			+.pxl-divider-move {
				display: none;
			}

			&.active {
				opacity: 1;
			}
		}

		.pxl-menu-primary>li {
			margin: 0;

			>a {
				z-index: 9;

				.pxl-menu-item-text {
					padding: 0 15px 0 22px;
					position: relative;
					z-index: 1;

					&:before {
						position: absolute;
						content: '';
						top: 50%;
						left: 10px;
						transform: translatey(-50%);
						width: 6px;
						height: 6px;
						border-radius: 100px;
						background-image: linear-gradient(to right, var(--gradient-color-from), var(--gradient-color-to));
						--gradient-color-from: #FF4969;
						--gradient-color-to: #FC9D44;
						@include transition(all .4s cubic-bezier(.645, .045, .355, 1));
						opacity: 0;
					}

					>i {
						display: none;
					}
				}
			}

			&:hover>a,
			&.pxl-shape-active>a {
				color: #fff;

				.pxl-menu-item-text:before {
					opacity: 1;
				}
			}
		}
	}


	&.fr-style-box.box-2 {

		.pxl-divider-move {
			height: 42px;
			border-radius: 391px;
			background-color: $primary_color;
			position: absolute;
			top: 50%;
			@include transform(translate(0, -50%));
			@include transition(all 300ms linear 0ms);
			opacity: 0;

			+.pxl-divider-move {
				display: none;
			}

			&.active {
				opacity: 1;
			}
		}

		.pxl-menu-primary>li.pxl-shape-active>a .pxl-menu-item-text:before {
			opacity: 0 !important
		}

		.pxl-menu-primary>li {
			margin: 0;

			>a {
				z-index: 9;

				.pxl-menu-item-text {
					padding: 0 26px 0 26px;
					position: relative;
					z-index: 1;

					>i {
						display: none;
					}
				}
			}

			&:hover>a,
			&.pxl-shape-active>a {
				color: #fff;

				.pxl-menu-item-text:before {
					opacity: 0;

				}
			}
		}
	}

	&.fr-style-divider {
		.pxl-menu-primary>li {
			display: inline-block;
			vertical-align: middle;

			>a {
				border: none;
				position: relative;

				.bi-plus {
					margin-left: 5px;
				}

				&:before {
					position: absolute;
					content: '';
					bottom: 0px;
					right: 0;
					height: 4px;
					border-radius: 1000px;
					width: 0;
					background-color: $primary_color;
					@include transition(all .35s cubic-bezier(.645, .045, .355, 1));
				}

				&:hover,
				.pxl-onepage-active {
					color: $primary_color;

					&:before {
						left: 0;
						right: auto;
						width: 100%;
					}
				}
			}

			&.current-menu-item {
				a:before {
					left: 0;
					right: auto;
					width: 100% !important;
				}
			}
		}
	}
}


.pxl-menu-custom1 {
	.pxl-menu-primary>li {
		>a {
			font-size: 18px;
		}

		@media #{$max-xxl} {
			margin: 0 14px;

			>a {
				font-size: 16px;
			}
		}
	}
}

@media #{$min-xl} {
	#pxl-header-default {
		.pxl-menu-primary>li {
			margin: 0 1px;

			>a {
				position: relative;
				color: $secondary_color;
				font-size: 17px;
				font-weight: 500;

				span {
					line-height: 80px;
					display: inline-flex;
					padding: 0 22px;
					align-items: center;
					position: relative;
					z-index: 1;
				}
			}

			.sub-menu>li {
				a {
					@include transition(all 300ms ease-out 0ms);

					span {
						@include transition(all 300ms ease-out 0ms);
					}

					span:before {
						content: '';
						position: absolute;
						top: calc(50% - 1px);
						height: 1px;
						width: 0px;
						background-color: $primary_color;
						-webkit-transition: all 300ms ease-out 0ms;
						-khtml-transition: all 300ms ease-out 0ms;
						-moz-transition: all 300ms ease-out 0ms;
						-ms-transition: all 300ms ease-out 0ms;
						-o-transition: all 300ms ease-out 0ms;
						transition: all 300ms ease-out 0ms;
						left: 27px;
					}

					&:hover {
						//padding-left: 77px;
						color: $primary_color;

						span:before {
							width: 30px;
						}
					}
				}

				&:hover>a,
				&.current_page_item>a,
				&.current-menu-item>a,
				&.current_page_ancestor>a,
				&.current-menu-ancestor>a {

					.pxl-menu-item-text,
					span {
						padding-left: 50px;
						color: $primary_color;

						&:before {
							width: 30px;
						}
					}
				}
			}

			&:hover>a,
			&.current_page_item>a,
			&.current-menu-item>a,
			&.current_page_ancestor>a,
			&.current-menu-ancestor>a {
				color: $primary_color;
			}
		}
	}
}

.section-mega-active.section-remove-br {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}